html * {
  font-size: 14px;
  color: #ffffff;
}

.nomargin {
    margin: 0;
}

.background1 {
    background-color: #af35a3;
}

.background2 {
    background-color: #de54e7;
}

.titletext1 {
    font-size: 2rem;
}

.titletext2 {
    font-size: 1.25rem;
}

input[type=submit], button {
    margin: .5rem 0 0 .5rem;
    background-color: #af35a3;
    border-radius: .25rem;
    border: none;
}

input[type=submit]:hover, button:hover {
    background-color: #00FF00;
}

input[type=submit]:active, button:active {
    background-color: #0000FF;
}

input[type=submit]:disabled, button:disabled {
    background-color: #333333;
}

.inputtext {
    color: #000000;
    margin: .25rem;
    width: 90%;
}

.containerinput {
    display: flex;
    flex-direction: column;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0 .5rem;
}

.comment {
    margin: .75rem;
}

.comment2 {
    padding: .25rem;
}

/* Garbage below
-------------------------------------------------- */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
