<!DOCTYPE html>
@model UserInterface.Models.CreateArticle

@{
    ViewData["Title"] = "Create Article";
}

<h1 class="titletext1">Create Article</h1>

<div>
    <div>
        <form asp-action="CreateArticle">
            <div class="containerinput">
                <label asp-for="Titleee"></label>
                <input asp-for="Titleee" class="inputtext" />
            </div>
            <div class="containerinput">
                <label asp-for="Articleee"></label>
                <textarea asp-for="Articleee" class="inputtext" style="height:20rem">
                @foreach (var line in Model.Articleee)
                {
                    @line
                }
                </textarea>
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
