<!DOCTYPE html>
@model UserInterface.Models.Article

@{
    ViewData["Title"] = "All articles";
}

<div class="text-center">
    <h1 class="display-4">List</h1>
    @foreach (var article in Model.articles)
    {
        <a href="/Home/Article/@article.Id" style="text-decoration:none">
            <div style="background-color:#ff0000">
                <p>Title: @article.Title</p>
                <p>Created: @article.CreateDate</p>
                <p>Edited: @article.EditDate</p>
            </div>
        </a>
    }
</div>
