<!DOCTYPE html>
@model UserInterface.Models.Article

@{
    ViewData["Title"] = "All articles";
}

<div class="text-center">
    <h1 class="display-4">List</h1>
    @foreach (var article in Model.articles)
    {
        <p>Id: @article.Id</p>
        <p>Title: @article.Title</p>
        <p>Created: @article.CreateDate</p>
        <p>Edited: @article.EditDate</p>
    }
</div>
