<!DOCTYPE html>
@model UserInterface.Models.LoginUser

@{
    ViewData["Title"] = "Login User";
    ViewData["ErrorMessage"] = ViewData["ErrorMessage"];
    ViewData["InfoMessage"] = ViewData["InfoMessage"];
}

<h1 class="titletext1">Login User</h1>

<hr />
<div>
    <div>
        <form asp-action="LoginUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="containerinput">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="inputtext" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="containerinput">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="inputtext" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Login" />
            </div>
        </form>
    </div>
</div>
