<!DOCTYPE html>
@model UserInterface.Models.UpdatePassword

@{
    ViewData["Title"] = "User settings";
    var comments = ViewData["Comments"] as List<Core.Entities.Comments>;
    if (TempData.Peek("MessageInfo") != null)
    {
        ViewData["InfoMessage"] = TempData["MessageInfo"];
    }
    if (TempData.Peek("MessageError") != null)
    {
        ViewData["ErrorMessage"] = TempData["MessageError"];
    }
}

<h1 class="titletext1">User settings</h1>
<div class="row">
    <div>
        <form asp-action="Logout" style="margin-bottom:1rem">
            <input type="submit" value="Logout" />
        </form>

        <form asp-action="UserSettings" class="background2" style="padding:1rem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="containerinput">
                <label asp-for="OldPassword" class="nomargin"></label>
                <input asp-for="OldPassword" class="inputtext" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="containerinput">
                <label asp-for="NewPassword" class="nomargin"></label>
                <input asp-for="NewPassword" class="inputtext" onchange="CheckConfirm(this)" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="containerinput">
                <label for="confirmNewPassword" class="nomargin">Confirm new password</label>
                <input id="confirmNewPassword" class="inputtext" type="password" onchange="CheckConfirm(this)" />
                <span id="confirmWarning" class="text-danger"></span>
            </div>
            <div>
                <input disabled="true" id="submitButton" type="submit" value="Save" />
            </div>
        </form>

        <button id="openModalButton" onclick="OpenModal()" data-target="myModal" data-toggle="modal" style="margin-top:1rem">Delete account</button>

        <h2 class="titletext2" style="margin-top:1rem">Comments</h2>

        <div id="commentscontainer" class="background1" style="padding: .5rem .5rem 0 .5rem">
            @foreach (var comment in comments)
            {
            var containerId = $"{comment.Id}_container";
            <div id=@containerId class="background2" style="margin: 0 0 .5rem 0">
                <p>@comment.CreateDate</p>
                <p>@comment.Comment</p>
                <button id="@comment.Id" onclick="RemoveComment(this.id)" style="margin-bottom:.25rem">Remove</button>
            </div>
            }
        </div>

        <div class="modal fade" id="deleteAccountModal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete account</h4>
                        <button type="button" class="close" data-dismiss="modal">x</button>
                    </div>
                    <div class="modal-body">
                        <p>Confirm deletion of account</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" onclick="RemoveUser()" class="btn btn-primary">Confirm</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function OpenModal()
    {
        $("#deleteAccountModal").modal('show');
    }

    function RemoveUser() {
        const createUrl = `@Url.Action("Index", "Home")`;
        $.ajax({
            method: "POST",
            url: '@Url.Action("RemoveUser", "Home")',
            async: true,
            success: function() {
                window.location.assign(createUrl);
            }
        });
    }

    function RemoveComment(idToRemove) {
        const createUrl = `@Url.Action("RemoveComment", "Home")?commentId=${idToRemove}`;
        $.ajax({
            method: "POST",
            url: createUrl,
            async: true,
            success: function(data, t, j) {
                const messageElement = document.getElementById('info');
                const containerId = `${idToRemove}_container`;
                document.getElementById(containerId).remove();
                messageElement.style.visibility = "visible";
                messageElement.innerHTML = data;
            },
            error: function (j, t, e) {
                const messageElement = document.getElementById('error');
                messageElement.style.visibility = "visible";
                messageElement.innerHTML = j.responseText;
            }
        });
    }

    function CheckConfirm(e) {
        let confirmElement = null;
        if (e.id === 'NewPassword') {
            confirmElement = document.getElementById('confirmNewPassword');
        }
        else if (e.id === 'confirmNewPassword') {
            confirmElement = document.getElementById('NewPassword');
        }
        if (confirmElement.value.length === 0 || e.value.length === 0) {
            const submitButton = document.getElementById('submitButton');
            submitButton.disabled = true;
            const confirmWarning = document.getElementById('confirmWarning');
            confirmWarning.innerHTML = 'Password cannot be empty.';
        }
        else if (confirmElement.value === e.value) {
            const submitButton = document.getElementById('submitButton');
            submitButton.disabled = false;
            const confirmWarning = document.getElementById('confirmWarning');
            confirmWarning.innerHTML = '';
        }
        else {
            const submitButton = document.getElementById('submitButton');
            submitButton.disabled = true;
            const confirmWarning = document.getElementById('confirmWarning');
            confirmWarning.innerHTML = 'Password doesn\'t match';
        }
    }
</script>
